*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#custom-gellary img{
    width: 100%!important;
    height: 100%;
}
#custom-gellary .image-item{
    overflow: hidden;
    padding: 0;
}


#custom-gellary{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

#custom-gellary .image-item:nth-child(2),
#custom-gellary .image-item:nth-child(4),
#custom-gellary .image-item:nth-child(7),
#custom-gellary .image-item:nth-child(10),
#custom-gellary .image-item:nth-child(12),
#custom-gellary .image-item:nth-child(14)
{
    grid-column-start: span 2;
    grid-row-start: span 1;
    height: 300px;
}
#custom-gellary .image-item:nth-child(3),
#custom-gellary .image-item:nth-child(5),
#custom-gellary .image-item:nth-child(6),
#custom-gellary .image-item:nth-child(9),
#custom-gellary .image-item:nth-child(13),
#custom-gellary .image-item:nth-child(15)
{
    grid-column-start: span 1;
    grid-row-start: span 1;
    height: 300px;
}
#custom-gellary .image-item:nth-child(1),
#custom-gellary .image-item:nth-child(8),
#custom-gellary .image-item:nth-child(11) {
    grid-column-start: span 3;
    grid-row-start: span 2;
    height: 600px;
}

@media only screen and (max-width: 768px) {
    #custom-gellary .image-item:nth-child(2),
    #custom-gellary .image-item:nth-child(4),
    #custom-gellary .image-item:nth-child(7),
    #custom-gellary .image-item:nth-child(10),
    #custom-gellary .image-item:nth-child(12),
    #custom-gellary .image-item:nth-child(14)
    {
        grid-column-start: span 2;
        grid-row-start: span 1;
        height: 200px;
    }
    #custom-gellary .image-item:nth-child(3),
    #custom-gellary .image-item:nth-child(5),
    #custom-gellary .image-item:nth-child(6),
    #custom-gellary .image-item:nth-child(9),
    #custom-gellary .image-item:nth-child(13),
    #custom-gellary .image-item:nth-child(15)
    {
        grid-column-start: span 1;
        grid-row-start: span 1;
        height: 200px;
    }
    #custom-gellary .image-item:nth-child(1),
    #custom-gellary .image-item:nth-child(8),
    #custom-gellary .image-item:nth-child(11) {
        grid-column-start: span 3;
        grid-row-start: span 2;
        height: 400px;
    }
}

@media only screen and (max-width: 540px) {
    #custom-gellary .image-item:nth-child(2),
    #custom-gellary .image-item:nth-child(4),
    #custom-gellary .image-item:nth-child(7),
    #custom-gellary .image-item:nth-child(10),
    #custom-gellary .image-item:nth-child(12),
    #custom-gellary .image-item:nth-child(14)
    {
        grid-column-start: span 3;
        grid-row-start: span 1;
        height: 200px;
    }
    #custom-gellary .image-item:nth-child(3),
    #custom-gellary .image-item:nth-child(5),
    #custom-gellary .image-item:nth-child(6),
    #custom-gellary .image-item:nth-child(9),
    #custom-gellary .image-item:nth-child(13),
    #custom-gellary .image-item:nth-child(15)
    {
        grid-column-start: span 3;
        grid-row-start: span 1;
        height: 200px;
    }
    #custom-gellary .image-item:nth-child(1),
    #custom-gellary .image-item:nth-child(8),
    #custom-gellary .image-item:nth-child(11) {
        grid-column-start: span 6;
        grid-row-start: span 2;
        height: 300px;
    }
}