*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#custom-gellary img{
    height: auto;
    width: 100%!important;
}
#custom-gellary .image-item{
    overflow: hidden;
    padding: 0;
}
#custom-gellary .col-lg-6 img{
    height: 400px!important;
}
#custom-gellary .col-lg-4 img{
    height: 200px!important;
}
#custom-gellary .col-lg-2 img{
    height: 200px!important;
}
#custom-gellary .col-lg-8 img{
    height: 600px!important;
}
#custom-gellary .col-lg-4 img{
    height: 200px!important;
}
#custom-gellary .col-lg-6 img{
    height: 400px!important;
}

#custom-gellary figure.image-item {
    margin: 0!important;
}

#custom-gellary figure.col-lg-6{
    height: 400px!important;
}
#custom-gellary figure.col-lg-4{
    height: 200px!important;
}
#custom-gellary figure.col-lg-2{
    height: 200px!important;
}
#custom-gellary figure.col-lg-8{
    height: 600px!important;
}
#custom-gellary figure.col-lg-4{
    height: 200px!important;
}
#custom-gellary figure.col-lg-6{
    height: 400px!important;
}