*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#custom-gellary img{
    width: 100%!important;
}
#custom-gellary .image-item{
    overflow: hidden;
    padding: 0;
}
#custom-gellary figure.image-item {
    margin: 0 -1px!important;
}


#custom-gellary .col-md-6 {
    height: 400px!important;
}
#custom-gellary .col-md-4 {
    height: 200px!important;
}
#custom-gellary .col-md-2 {
    height: 200px!important;
}
#custom-gellary .col-md-8 {
    height: 750px!important;
}
#custom-gellary .col-md-5 {
    height: 200px!important;
}


#custom-gellary .col-lg-6 img{
    height: 500px!important;
}
#custom-gellary .col-lg-4 img{
    height: 250px!important;
}
#custom-gellary .col-lg-2 img{
    height: 250px!important;
}
#custom-gellary .col-lg-8 img{
    height: 750px!important;
}
#custom-gellary .col-lg-5 img{
    height: 250px!important;
}



#custom-gellary figure.col-lg-6{
    height: 500px!important;
}
#custom-gellary figure.col-lg-4{
    height: 250px!important;
}
#custom-gellary figure.col-lg-2{
    height: 250px!important;
}
#custom-gellary figure.col-lg-7{
    height: 750px!important;
}
#custom-gellary figure.col-lg-5{
    height: 250px!important;
}













